body {
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

header img {
  height: 50px;
  padding-left: 10px;
  opacity: 0.9;
}

nav a {
  padding-right: 20px;
  opacity: 0.9;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
}

.content {
  display: flex;
  position: absolute;
  top: 69px;
  justify-content: center;
  width: 100%;
}

.mission {
  text-align: center;
  background-image: url("../../resources/images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission-info {
  background-color: black;
}

.mission-info h2 {
  margin-top: 15px;
}

.mission-info h4 {
  margin-bottom: 15px;
}
